body {
    background-color: rgb(181, 136, 223);
}

.puntaje {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: beige;
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella___76653bf2b6c231d___.svg");
    mask-image: url("../img/estrella___76653bf2b6c231d___.svg");
}

.item.selec {
    background-color: rgb(77, 50, 102);
}